
    <li id="{{id}}" class="text-left" class="callout secondary ease" value="slide-in-up">
      <a 
        style="display: inline; font-weight: bold; padding-right: 1vw; padding-left: 1vw; color: rgb(231, 53, 163)" 
        type="button" 
        data-id="{{id}}"
        data-newdevour="{{devoured}}"
        class="clear button text-right change-devour">{{#if devoured}} {{else}} <span class="glyphicon glyphicon-plus"></span>{{/if}} </a><p style="display: inline"> {{name}} </p>  
    </li>